<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raporty</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Boczne menu -->
<div class="menu">
    <div class="logo"></div>
    <a th:href="@{/admin/raport_postow}" class="button">Raport postów</a><br><br>
    <a th:href="@{/admin/raport_komentarzy}" class="button">Raport komentarzy</a><br><br>
    <a th:href="@{/admin/raport_uzytkownikow}" class="button">Raport użytkowników</a><br><br>
    <a th:href="@{/admin/panel}" class="button" style="margin-top: 20px;">Panel</a>
</div>

<!-- Główna zawartość -->
<div class="cont">
</div>

</body>
</html>
