<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Dodaj post</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class='menu'>
        <div class='logo'></div>
        <a href="/"><div class="button">Strona główna</div> </a><br><br>
        <a href="/wyswietl_posty"><div class="button">Wyświetl posty</div> </a>
    </div>
    <div class="cont">
<h1>Dodaj nowy post</h1>

<form method="POST" th:object="${transData}">
  <div class ="form-group">
    <label for="tresc">Treść posta:</label><br>
    <textarea th:field="${transData.tresc}" id="tresc" name="tresc" rows="4" cols="50" placeholder="Wpisz treść posta"></textarea><br>
  </div>

  <br/>

  <input type="submit" value="Dodaj" />
    </div>

</form>
</body>
</html>