<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dodaj reakcje post</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Dodaj nowa reakcje</h1>

<script>

  const params = new URLSearchParams(window.location.search);
  const komentarzID = params.get("komentarzID");


  if (komentarzID) {
    document.getElementById("komentarzID").value = komentarzID;
  }
</script>
<div class='menu'>
        <div class='logo'></div>
        <a href="/strona_glowna"><div class="button">Strona główna</div></a><br><br>

    </div>

<div class='cont'>

<form method="POST" th:object="${reakcjaTransData}">
  <div class="form-group">
    <input type="hidden" id="komentarzID" name="komentarzID" value=""/><br/>
  </div>

  <p>Wybierz zainteresowania:</p>
  <label><input type="checkbox" name="reakcja" value="1"> lubieto</label><br>
  <label><input type="checkbox" name="reakcja" value="2"> haha</label><br>
  <label><input type="checkbox" name="reakcja" value="3"> nielubie</label><br>

  <br>
  <input type="submit" value="Wyślij">
</form>

  <br/>
  <br/>

</form>

<br/>

</form>
</div>

</body>
</html>