<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dodaj post</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class='menu'>
        <div class='logo'></div>
        <a href="/strona_glowna"><div class="button">Strona główna</div> </a><br><br>
    </div>

    <div class="cont">
<h1>Dodaj nowy post</h1>

<form method="POST" th:object="${transData}">
  <div class ="form-group">
      <input type="hidden" th:field="${transData.postId}">
    <label for="tresc">Treść posta:</label><br>
    <textarea th:field="${transData.tresc}" id="tresc" name="tresc" rows="4" cols="50" placeholder="Wpisz treść posta"></textarea><br>
  </div>

  <br/>

    <input type="submit" value="Dodaj" />

  </div>

</form>
</body>
</html>