<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona Główna</title>
    <meta charset="UTF-8">
</head>
<body>

<h1 th:text="${header}">Nagłówek</h1>

<div th:each="post : ${posty}">
    <h2>Post #<span th:text="${post.postId}"></span></h2>
    <p><strong th:text="${post.autor.pseudonim}"></strong>: <span th:text="${post.tresc}"></span></p>

    <div th:if="${post.reakcje.size() > 0}">
        <p>Reakcje na post:</p>
        <ul>
            <li th:each="reakcja : ${post.reakcje}">
                <span th:text="'Reakcja: ' + ${reakcja.reakcja}"></span>
            </li>
        </ul>
    </div>

    <div th:if="${post.komentarze.size() > 0}">
        <p>Komentarze:</p>
        <ul>
            <li th:each="komentarz : ${post.komentarze}">
                <p><strong th:text="${komentarz.uzytkownik.pseudonim}"></strong>:
                    <span th:text="${komentarz.tresc}"></span></p>

                <div th:if="${komentarz.reakcje.size() > 0}">
                    <p>Reakcje na komentarz:</p>
                    <ul>
                        <li th:each="reakcjaK : ${komentarz.reakcje}">
                            <span th:text="'Reakcja: ' + ${reakcjaK.reakcja}"></span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <hr/>
</div>

</body>
</html>
